
<div class="container" style="width: 960px">
  <%= render "layouts/alert" %>
  <%= render "shared/switch_button" %>
  
  <%# スライダー %>
  <%= render "/shared/slider" %>

  <%# コンテンツ 来期 %>
  <%= render "/shared/contents-raiki" %>

  <%# コンテンツ 今期 %>
  <%= render "/shared/contents-konki" %>

  <%# コンテンツ　前期 %>
  <%= render "/shared/contents-zenki" %>

  <%# コンテンツ 管理人のおすすめ%>
  <%= render "/shared/contents-recomended" %>
  
  <%# コンテンツ 元気がない時に見たい%>
  <%= render "/shared/contents-feel-sad" %>
  
  <%# コンテンツ 現実逃避したい%>
  <%= render "/shared/contents-real-escape" %>

  <%# コンテンツ 現実逃避したい%>
  <%= render "/shared/contents-everyone-recommended" %>

  <%# コンテンツ 異世界転生 %>
  <%= render "/shared/contents-another-world-tensei" %>

  <%# コンテンツ なろう %>
  <%= render "/shared/contents-narou" %>
  
  <%# タグ一覧 %>
  <%= render "/shared/tags" %>
  
  <%# 年代検索 %>
  <%= render "/shared/contents-year" %>
</div>

