<div class="container" style="width: 960px">
  <%# アラート %>
  <%= render 'layouts/alert' %>
  <%# ヘッダー%>
  <%= render "/shared/header" %>
  <%# スライダー %>
  <%= render "/shared/slider" %>
  <%# ナビゲーション %>
  <%= render "/shared/navbar" %>
  <%# コンテンツ %>
  <%= render "/shared/contents" %>
  <%= javascript_pack_tag "home/slider" %>
  <%# タグ一覧 %>
  <%= render "/shared/tags" %>
</div>

