<div class="row">
  <div id="zenki-list" class="ele-left">
    <h1 style="text-align: center"><%= "〜#{Time.current.year}年 #{Work.current_season("前期")} アニメ〜" %></h1>
    <div class="row" style="box-shadow: 0 2px 2px rgba(0, 0, 0, 0.32); border-radius: 2px; width: 1200px; margin-top: 20px;">
      <% if !@first_term_list.blank?%>
        <% @first_term_list.each_with_index do |work, i| %>
          <div style="margin-left: 5px">
            <div class="parent" style="background-color: #E5E5E5; width: 140px;">
              <div style="width: 140px; height: 70px;">
                <div class="konkilists">
                  <%= render partial:"shared/mylists-status-2", locals: {work_id: work.id ,index: i} %>
                </div>
                <%= link_to "/works/detail/#{work.id}" do %>
                  <% image_tag !work&.facebook_og_image_url.blank? ? work&.facebook_og_image_url : "no_image", alt: "#{work.title}", class: "img-thumbnail img-responsive img-rounded" %>
                <% end %>
              </div>
              <div class="dropdown" style="margin-top: 18px; height: 130px;">
                <%= form_with url: "/watches/update", method: :patch, remote: true, id: "status-update#{i}" do |f| %>
                  <%= hidden_field_tag :work_id, "work_id" %>
                  <%= hidden_field_tag :watch_status, "status" %>
                  <%=
                    f.select :val, 
                      [
                        ["見た",    "watched"],
                        ["見てる",  "watching"],
                        ["見てない","not_watched"],
                        ["見たい","want_watch"]
                      ],{include_blank: "ステータスを選択", selected: !@watches_zenki_list.blank? ? status_type(@watches_zenki_list, work.id) : "ステータスを選択"},{class: "btn btn-block btn-success  dropdown-toggle",id: "select-form-#{i}",required: true, autofocus: "true", data: {work_id: work.id }}
                  %>
                <% end %>
                <caption>
                  <span style="font-size: 15px; color: #000; font-style: bold;"><%= work.title.truncate(20) %></span>
                </caption>
              </div>

            </div>
            <p></p>
          </div>
        <% end %>
      <% end %>
    </div>
    <p></p>
    
    <%= javascript_pack_tag 'form/select-status' %>
    
  </div>
</div>