<div class="container">
  <div class="mx-auto" style="width: 600px; margin-top: 200px">
    <% if @user.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <ul style="list-style: none; text-align: center">
        <% @user.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <h1 class="center">å…¥éƒ¨ç™»éŒ²ãƒ•ã‚©ãƒ¼ãƒ ðŸŽ‰</h1>
    <%= form_with url: users_path ,local: true do |f|%>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name, class: "form-control", placeholder: "ãƒ†ã‚¹ãƒˆå¤ªéƒŽ"%>
      <%= f.label :email, "Email" %>
      <%= f.text_field :email, class: "form-control", placeholder: "example@gmail.com"%>
      <%= f.label :password, "Password" %>
      <%= f.password_field :password, class: "form-control", placeholder: "passwordã¯12æ¡ã®è‹±æ•°å­—ã§å…¥åŠ›ã—ãã ã•ã„"%>
      <div style="margin-top: 30px"><%= f.submit "å…¥éƒ¨ã™ã‚‹", class: ["btn btn-outline-primary", "form-control"], data: {confirm: "å…¥åŠ›å†…å®¹ã¯ãŠé–“é•ã„ãªã„ã§ã™ã‹ï¼Ÿ"} %></div>
    <% end %>
  </div>
</div>