<div class="row margin-top">
  <div class="col-md-10">
    <h3 class="content-border"><i class="far fa-check-square"></i>【話題の作品が目白押し!?】今期のアニメ　<%= Time.now.year %>年 <%= Work.current_season %></h3>
  </div>
  <%# <div class="col-md-2">
  </div> %>
  <div class="col-md-2" style="text-align: right">
    <h5><%= link_to "もっと見る" %></h5>
  </div>
</div>
<div class="swiper-container">
  <div class="swiper-wrapper">
    <% @work_contents_list.first(60).each do |work| %>
        <% if work.facebook_og_image_url.blank? %>
          <div class="swiper-slide">
            <span class="cut" data-toggle="tooltip" data-placement="top" title=<%= work.title %>><%= image_tag "no_image.png", alt: "#{work.title}", class: "img-thumbnail" %></span>
          </div>
        <% else %>
          <div class="swiper-slide">
            <span class="cut" data-toggle="tooltip" data-placement="top" title=<%= work.title %>><%= image_tag work.facebook_og_image_url ,alt: "#{work.title}", class: "img-thumbnail" %></span>
          </div>
        <% end %>
      <% end %>
    </div>

  <%# <div class="swiper-pagination"></div> %>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>

</div>
