<div class="row">
  <div class="col-md-8">
    <h3><i class="far fa-check-square"></i>【絶対見るべき!!】管理人のおすすめ</h3>
  </div>
  <div class="col-md-4" style="text-align: right">
    <h5><%= link_to "もっと見る" %></h5>
  </div>
</div>
<div class="swiper-container">
  <div class="swiper-wrapper">
    <% @works_recomended.first(60).each do |work| %>
        <% if work.facebook_og_image_url.blank? %>
          <div class="swiper-slide">
            <span class="cut" data-toggle="tooltip" data-placement="top" title=<%= work.title %>><%= image_tag "no_image.png", alt: "#{work.title}", class: "img-thumbnail", size: "303x159" %></span>
          </div>
        <% else %>
          <div class="swiper-slide">
            <span class="cut" data-toggle="tooltip" data-placement="top" title=<%= work.title %>><%= image_tag work.facebook_og_image_url.blank? ? work.image_thumbnail : work.facebook_og_image_url ,alt: "#{work.title}", class: "img-thumbnail", size: "303x159" %></span>
          </div>
        <% end %>
      <% end %>
    </div>

  <%# <div class="swiper-pagination"></div> %>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>

</div>