<%# ナビゲーション %>
  <header role="banner">
    <button style="background-color: #FFFFFF" type="button" class="drawer-toggle drawer-hamburger">
      <span class="sr-only">toggle navigation</span>
      <span class="drawer-hamburger-icon"></span>
    </button>
    <nav class="drawer-nav" role="navigation">
      <ul class="drawer-menu">
        <li class="drawer-brand" style="background-color: #130B06">
          <div data-turbolinks="false">
            <a href="/static_pages/home"><%= image_tag "Free_Sample_By_Wix.jpeg", {size: "150x150"} %></a>
          </div>
        </li>
        <li class="drawer-menu-item">
          <% if !current_user.nil? %>
            <%= link_to "/users/my_page",data:{"turbolinks"=>false} do %>
              <%= image_tag @current_user&.image, {size: "80x80", class: "rounded-pill"} %>
            <% end %>
          <% end %>
        </li>
        <%# ajaxで表示の切り替え %>
        <li class="display_mode-nav"></li>
        <li class="drawer-menu-item">
          <i class="far fa-smile"></i> <%= link_to "おもしろいアニメ", "#" %>
        </li>
        <li class="drawer-menu-item">
          <% if logged_in? %>
            <i class="fas fa-sign-out-alt"></i> <%= link_to 'ログアウト',logout_path, method: :delete %>
          <% end %>
        </li>
        <li class="drawer-menu-item">
          <i class="fas fa-envelope fa-sg"></i> <%= link_to "お問い合わせ", "#" %>
        </li>
        <li><a class="drawer-menu-item" href="#"></a></li>
      </ul>
    </nav>
  </header>
  <main role="main">
    <!-- Page content -->
    <%# 画面モードの切り替え %>
    
  </main>
  
  