<%# ナビゲーション %>
<nav class="nav-menu navbar navbar-expand-sm">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="border-header nav-item">
        <%= link_to "ホーム","#", class: "nav-link fas fa-home fa-lg" %>
      </li>
      <li class="border-header nav-item">
        <% if logged_in? %>
          <%= link_to 'ログアウト',logout_path, class: "nav-link fas fa-sign-out-alt fa-lg", method: :delete, data:
                                        { confirm: 'ログアウトしますか?',
                                          cancel: 'やめる',
                                          commit: '実行'}, title: 'ログアウト確認' %>
          <% end %>
      </li>
      <li class="border-header nav-item">
        <%= link_to "お問い合わせ", "#", class: "nav-link far fa-envelope fa-lg" %>
      </li>
      <li class="border-header nav-item">
        <div class="custom-control custom-switch">
          <%= check_box_tag "display_mode", 1, false,{class: "custom-control-input", id: "customSwitch1",
                                      data: {
                                        url: static_pages_display_mode_path,
                                        method: :get,
                                        remote: true
                                      } 
          } %>
          <label class="custom-control-label" for="customSwitch1">モード切り替え</label>
        </div>
        <%# <label class="switch-label" for="toggle-event">
          <input id="toggle-event" type="checkbox" data-toggle="toggle" data-on="オタク" data-off="ノーマル" data-onstyle="primary" data-offstyle="secondary" data-size="xs">
        </label> %>
      </li>
    </ul>
  </div>
</nav>

<div class="row">
  <div class="col-md-2"><%= image_tag "Free_Sample_By_Wix.jpeg", alt: "あに族", class: "rounded-circle", size: "200x200" %></div>
  <div class="col-md-2"></div>

  <%# ajax 機能制限 %>
  <div id="display_mode"></div>
</div>