<div class="row">
  <div id="not-watched-list" class="ele-left">
    <% if !@watches.blank?%>
      <% @season_list.keys.size.times do |count| %>
        <h3 style="font-style: italic; color: #FFFFFF; margin-top: 20px; margin-bottom: 40px;"><span style="font-size: 20px" class="box-title"><%= "#{@season_list.keys[count]}年"%> <%= "(#{@season_list.values[count].size}件)" %><span></h3>
          <div class="row" style="box-shadow: 0 2px 2px rgba(0, 0, 0, 0.32); border-radius: 2px; width: 1200px;">
            <% @works.each_with_index do |work, i| %>
              <% if @season_list.keys[count] == work.season_year %>
                  <div style="margin-left: 5px">
                    <div class="parent" style="background-color: #E5E5E5; width: 140px;">
                      <p style="font-size: 15px; color: #FFF; margin: 0 auto; text-align: center; background-color: #E60914;"><%= work.season_name_text.slice(-1) %></p>
                      <div style="width: 140px; height: 70px;">
                        <div class="mylists">
                          <%= render partial:"shared/mylists-status-2", locals: {work_id: work.id ,index: i} %>
                        </div>
                        <%= link_to "/works/detail/#{work.id}" do %>
                          <% image_tag !work&.facebook_og_image_url.blank? ? work&.facebook_og_image_url : "no_image", alt: "#{work.title}", class: "img-thumbnail img-responsive img-rounded" %>
                        <% end %>
                      </div>
                      <div class="dropdown" style="margin-top: 18px; height: 130px;">
                        <%= form_with url: "/watches/update", method: :patch, remote: true, id: "status-update#{i}" do |f| %>
                          <%= hidden_field_tag :work_id, "work_id" %>
                          <%= hidden_field_tag :watch_status, "status" %>
                          <%=
                            f.select :val, 
                              [
                                ["見た",    "watched"],
                                ["見てる",  "watching"],
                                ["見てない","not_watched"],
                                ["見たい","want_watch"]
                              ],{include_blank: "ステータスを選択", selected: !@watches.blank? ? status_type(@watches, work.id) : "ステータスを選択"},{class: "btn btn-block btn-success  dropdown-toggle",id: "select-form-#{i}",required: true, autofocus: "true", data: {work_id: work.id }}
                          %>
                        <% end %>
                        <caption>
                          <span style="font-size: 15px; color: #000; font-style: bold;"><%= work.title.truncate(20) %></span>
                        </caption>

                      </div>
                      
                    </div>
                    <p></p>
                  </div>
              <% end %>
            <% end %>
          </div>
          <p></p>
      <% end %>
      <%= javascript_pack_tag 'form/select-status' %>
    <% end %>
  </div>
</div>